<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>메모장</h1>
    <table>
        <tr>
            <th>작성자</th>
            <th>내용</th>
            <th>날짜</th>
        </tr>
        {% for note in notes %}
        <tr>
            <td>{{note.name}}</td>
            <td>{{note.text}}</td>
            <th>{{note.published_date}}</th>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'write'%}">메모 추가하기</a>
</body>
</html>